.App {
  text-align: center;
}
.markerLabel{
  border-bottom: 1px solid black;
  cursor: pointer;
}
.markerLabel:nth-child(even){
  background-color: lightgrey;
}
.markerLabel:hover{
  background-color: black;
  color: white;
}